# Les modifications de la chaîne CI/CD sont réservées aux collaborateurs.
/.github/CODEOWNERS @Remi-CONSTANTIN @D3DX9-DLL @anas-elmendili
/.github/workflows/** @Remi-CONSTANTIN @D3DX9-DLL @anas-elmendili
